// FONT FACE

@font-face {
  font-family: 'delirium';
  font-weight: normal;
  src: url('../../assets/delirium.ttf');
}

@font-face {
  font-family: 'delirium';
  font-weight: bold;
  src: url('../../assets/delirium_bold.ttf');
}

// COLOR VARIABLES

$black: black;
$white: white;

$pink: #e54b6b;
$blue: #5f91ce;

// VARIABLES

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: 'delirium';
  color: $black;
}
