// FONT FACE

@font-face {
  font-family: 'delirium';
  font-weight: normal;
  src: url('../assets/delirium.ttf');
}

@font-face {
  font-family: 'delirium';
  font-weight: bold;
  src: url('../assets/delirium_bold.ttf');
}

@font-face {
  font-family: 'art-nouveau';
  src: url('../assets/art_nouveau.ttf');
}

@font-face {
  font-family: 'baroque';
  src: url('../assets/baroque.ttf');
}

@font-face {
  font-family: 'middeleeuws';
  src: url('../assets/middeleeuws.ttf');
}

@font-face {
  font-family: 'victorian';
  src: url('../assets/victorian.otf');
}

@font-face {
  font-family: 'renaissance';
  src: url('../assets/renaissance.ttf');
}

// COLOR VARIABLES

$black: black;
$white: white;

$pink: #e54b6b;
$light-pink: #e54b6a79;
$blue: #5f91ce;

// VARIABLES

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: 'delirium';
  color: $black;
}

// FONT-SIZE

h2 {
  font-size: 3rem;
}

p,
li {
  font-size: 1.75rem;
}

// SELECT

::selection {
  background-color: rgba($pink, 0.3);
}

.normal-font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
  list-style: none;
}
