.cursor-dot,
.cursor-dot-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 50%;
  pointer-events: none;
}

.cursor-dot {
  $size: 0.5rem;
  background-color: rgba($pink, 0.7);
  width: $size;
  height: $size;
}

.cursor-dot-outline {
  $size: 2rem;
  background-color: rgba($blue, 0.3);
  width: $size;
  height: $size;
}
