.history {
  width: 80%;

  h2 {
    margin-top: 3rem;
  }

  p {
    margin: 2rem auto;
  }

  .input {
    &-middeleeuwen {
      font-family: 'middeleeuws';
    }

    &-renaissance {
      font-family: 'renaissance';
    }

    &-barok {
      font-family: 'baroque';
    }

    &-sier {
      font-family: 'victorian';
    }

    &-artnouveau {
      font-family: 'art-nouveau';
    }
  }

  input {
    font-size: 3rem;
    margin: 2rem auto;
    border: none;
    box-shadow: 0 1.5px 0 black;
    max-width: 100%;
    background-color: transparent;

    &:focus {
      outline: 2px dotted $black;
    }
  }
}
