#intro {
  z-index: 100;
  position: relative;

  .word {
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    width: 100vw;
    height: 4rem;
    padding-bottom: 15rem;

    &::before {
      content: '';
      background-color: $pink;
      width: 100%;
      height: 2rem;
      left: 0;
      position: absolute;
      top: 16rem;
      animation: border-breathing 3.5s linear infinite;
    }

    @keyframes border-breathing {
      0% {
        transform: scaleY(1);
      }

      50% {
        transform: scaleY(2);
      }

      100% {
        transform: scaleY(1);
      }
    }

    @media (min-width: $md) {
    }
  }

  .overflow-hidden {
    overflow: hidden;
    max-width: 100vw;
  }

  .beer-row {
    display: flex;
    gap: 5rem;
    animation: autoplay 45s linear infinite;
    margin: 6rem 0;
  }

  img {
    height: 20rem;
  }

  @keyframes autoplay {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Apply the autoplay animation */
  .carousel-container.play ul.beer-row {
    animation: autoplay 10s linear infinite;
  }

  section {
    padding: 1rem;

    p {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0.5rem;
    }
  }
}
