.text {
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-family: 'delirium';
  font-size: 1.1rem;
  fill: $pink;
  text-shadow: 2px 0px $blue;
  opacity: 0.7;
}

#rotatingText {
  position: absolute;
  scale: 3;
  z-index: -1;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}

.links {
  #rotatingText {
    animation: rotate-circle 20s linear infinite;
    left: 0;

    @media (min-width: $md) {
      position: fixed;
      top: 10rem;
      z-index: 50;
      left: -1rem;
    }
  }
}

.rechts {
  #rotatingText {
    animation: rotate-circle 20s linear infinite reverse;
    @media (min-width: $md) {
      position: fixed;
      bottom: 10rem;
      z-index: 50;
      left: -1rem;
    }
  }
}
