*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $md) {
    margin-left: 20rem;
    border-left: 10rem solid $pink;

    &::before {
      content: '';
      position: fixed;
      background-color: $blue;
      height: 100%;
      width: 14rem;
      left: 0;
      top: 0;
    }
  }
}

.bg {
  display: flex;
  justify-content: center;
  background-color: $dark-blue;
  width: 100%;
}

.logo-delirium {
  width: 100%;
}

.spacing-1 {
  margin: 5rem 0;
}

.spacing-2 {
  margin: 10rem 0;
}
