@font-face {
  font-family: 'delirium';
  font-weight: normal;
  src: url("../assets/delirium.ttf");
}

@font-face {
  font-family: 'delirium';
  font-weight: bold;
  src: url("../assets/delirium_bold.ttf");
}

@font-face {
  font-family: 'art-nouveau';
  src: url("../assets/art_nouveau.ttf");
}

@font-face {
  font-family: 'baroque';
  src: url("../assets/baroque.ttf");
}

@font-face {
  font-family: 'middeleeuws';
  src: url("../assets/middeleeuws.ttf");
}

@font-face {
  font-family: 'victorian';
  src: url("../assets/victorian.otf");
}

@font-face {
  font-family: 'renaissance';
  src: url("../assets/renaissance.ttf");
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: 'delirium';
  color: black;
}

h2 {
  font-size: 3rem;
}

.trip h2 {
  -webkit-animation: breathing-xy 3s infinite linear;
          animation: breathing-xy 3s infinite linear;
}

p,
li {
  font-size: 1.75rem;
}

::-moz-selection {
  background-color: rgba(229, 75, 107, 0.3);
}

::selection {
  background-color: rgba(229, 75, 107, 0.3);
}

.normal-font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.delirium-font {
  font-family: 'delirium';
  font-size: 2rem;
  font-weight: bold;
}

ul {
  list-style: none;
}

.list-normal-font li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.observe {
  opacity: 0;
  -webkit-transition: 0.5s bounce;
  transition: 0.5s bounce;
}

.shown {
  opacity: 1;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes breathing-xy {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
}

@keyframes breathing-xy {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
}

@-webkit-keyframes turn {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes turn {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.background-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-animation {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.square {
  position: absolute;
  bottom: -100px;
  -webkit-animation: boxes 20s infinite ease-in-out;
          animation: boxes 20s infinite ease-in-out;
  border-radius: 50%;
}

.square:nth-child(1) {
  width: 75px;
  height: 75px;
  left: 7%;
  background-color: #e54b6b;
}

.square:nth-child(2) {
  width: 65px;
  height: 65px;
  left: 15%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  background-color: #5f91ce;
}

.square:nth-child(3) {
  width: 82px;
  height: 82px;
  left: 45%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  background-color: #e54b6b;
}

.square:nth-child(4) {
  width: 70px;
  height: 70px;
  left: 55%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: #5f91ce;
}

.square:nth-child(5) {
  width: 60px;
  height: 60px;
  left: 27%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  background-color: #e54b6b;
}

.square:nth-child(6) {
  width: 55px;
  height: 55px;
  left: 60%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  background-color: #5f91ce;
}

.square:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 85%;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  background-color: #e54b6b;
}

.square:nth-child(8) {
  width: 70px;
  height: 70px;
  left: 75%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  background-color: #5f91ce;
}

.square:nth-child(9) {
  width: 45px;
  height: 45px;
  left: 10%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background-color: #e54b6b;
}

.square:nth-child(10) {
  width: 55px;
  height: 55px;
  left: 60%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background-color: #5f91ce;
}

@-webkit-keyframes boxes {
  0% {
    bottom: -100px;
    opacity: 0.6;
  }
  100% {
    bottom: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}

@keyframes boxes {
  0% {
    bottom: -100px;
    opacity: 0.6;
  }
  100% {
    bottom: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  main {
    margin-left: 20rem;
    border-left: 10rem solid #e54b6b;
  }
  main::before {
    content: '';
    position: fixed;
    background-color: #5f91ce;
    height: 100%;
    width: 14rem;
    left: 0;
    top: 0;
  }
}

.bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #254f84;
  width: 100%;
}

.logo-delirium {
  width: 100%;
}

.spacing-1 {
  margin: 5rem 0;
}

@media (min-width: 768px) {
  .spacing-1 {
    margin: 0;
  }
}

.spacing-2 {
  margin: 10rem 0;
}

@media (min-width: 768px) {
  .spacing-2 {
    margin: 0;
  }
}

.trip-button {
  width: 4rem;
  height: 4rem;
}

.cursor-dot,
.cursor-dot-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 50%;
  pointer-events: none;
}

.cursor-dot {
  background-color: rgba(229, 75, 107, 0.7);
  width: 0.5rem;
  height: 0.5rem;
}

.cursor-dot-outline {
  background-color: rgba(95, 145, 206, 0.3);
  width: 2rem;
  height: 2rem;
}

#intro {
  z-index: 100;
  position: relative;
  /* Apply the autoplay animation */
}

#intro .word {
  margin: auto;
  color: black;
  font-size: 4rem;
  width: 100vw;
  height: 4rem;
  padding-bottom: 15rem;
}

#intro .word::before {
  content: '';
  background-color: #e54b6b;
  width: 100%;
  height: 2rem;
  left: 0;
  position: absolute;
  top: 16rem;
  -webkit-animation: breathing 3.5s linear infinite;
          animation: breathing 3.5s linear infinite;
}

@media (min-width: 768px) {
  #intro .word::before {
    display: none;
  }
}

#intro .overflow-hidden {
  overflow: hidden;
  max-width: 100vw;
}

#intro .beer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-animation: autoplay 45s linear infinite;
          animation: autoplay 45s linear infinite;
  margin: 6rem 0;
}

#intro img {
  height: 20rem;
}

@-webkit-keyframes autoplay {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes autoplay {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#intro .carousel-container.play ul.beer-row {
  -webkit-animation: autoplay 10s linear infinite;
          animation: autoplay 10s linear infinite;
}

#intro section {
  padding: 1rem;
}

#intro section p {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.history {
  width: 80%;
}

.history h2 {
  margin-top: 3rem;
}

.history p {
  margin: 2rem auto;
}

.history .input-middeleeuwen {
  font-family: 'middeleeuws';
}

.history .input-renaissance {
  font-family: 'renaissance';
}

.history .input-barok {
  font-family: 'baroque';
}

.history .input-sier {
  font-family: 'victorian';
}

.history .input-artnouveau {
  font-family: 'art-nouveau';
}

.history input {
  font-size: 3rem;
  margin: 2rem auto;
  border: none;
  -webkit-box-shadow: 0 1.5px 0 black;
          box-shadow: 0 1.5px 0 black;
  max-width: 100%;
}

.history input:focus {
  outline: 2px dotted black;
}

#kenmerken {
  width: 80%;
  margin: 5rem 0;
}

#kenmerken .letters {
  margin-bottom: 5rem;
}

#kenmerken .letters p {
  font-size: 4rem;
}

header {
  z-index: 100;
  background-color: #254f84;
  position: relative;
}

#poster {
  background-color: #254f84;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  font-family: 'Delirium', sans-serif;
  font-weight: 800;
  font-size: 3.15rem;
  -ms-grid-columns: 5.25rem 18rem;
      grid-template-columns: 5.25rem 18rem;
  height: 45rem;
  line-height: 0.8;
  margin: 3rem auto;
  padding: 6rem 6rem 14rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: 33rem;
}

#poster .left {
  -webkit-animation: slideleft 3s linear;
          animation: slideleft 3s linear;
  color: #e54b6b;
  overflow: hidden;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

#poster .right {
  -webkit-animation: slideright 3s linear;
          animation: slideright 3s linear;
  color: #e54b6b;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  overflow: hidden;
  text-indent: -5.25rem;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#poster .last {
  color: white;
  font-size: 1.6rem;
  line-height: 0.9;
  overflow: hidden;
  text-indent: 0;
  -webkit-transform: skewY(30deg) skewX(-41deg);
          transform: skewY(30deg) skewX(-41deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#poster .last > div {
  -webkit-animation: slidebottom 3s linear;
          animation: slidebottom 3s linear;
}

@-webkit-keyframes slideleft {
  0% {
    text-indent: -23.25rem;
  }
  100% {
    text-indent: 0;
  }
}

@keyframes slideleft {
  0% {
    text-indent: -23.25rem;
  }
  100% {
    text-indent: 0;
  }
}

@-webkit-keyframes slidebottom {
  0% {
    text-indent: -18rem;
  }
  25% {
    text-indent: -18rem;
  }
  100% {
    text-indent: 0;
  }
}

@keyframes slidebottom {
  0% {
    text-indent: -18rem;
  }
  25% {
    text-indent: -18rem;
  }
  100% {
    text-indent: 0;
  }
}

@-webkit-keyframes slideright {
  0% {
    text-indent: -28.5rem;
  }
  100% {
    text-indent: -5.25rem;
  }
}

@keyframes slideright {
  0% {
    text-indent: -28.5rem;
  }
  100% {
    text-indent: -5.25rem;
  }
}

.text {
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-family: 'delirium';
  font-size: 1.1rem;
  fill: #e54b6b;
  text-shadow: 2px 0px #5f91ce;
  opacity: 0.7;
}

#rotatingText {
  position: absolute;
  scale: 3;
  z-index: -1;
}

@-webkit-keyframes rotate-circle {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate-circle {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.links #rotatingText {
  -webkit-animation: rotate-circle 20s linear infinite;
          animation: rotate-circle 20s linear infinite;
  left: 0;
}

@media (min-width: 768px) {
  .links #rotatingText {
    position: fixed;
    top: 10rem;
    z-index: 50;
    left: -1rem;
  }
}

.rechts #rotatingText {
  animation: rotate-circle 20s linear infinite reverse;
}

@media (min-width: 768px) {
  .rechts #rotatingText {
    position: fixed;
    bottom: 10rem;
    z-index: 50;
    left: -1rem;
  }
}

#voorbeelden {
  width: 80%;
}

#voorbeelden h2 {
  margin-bottom: 2rem;
}

#voorbeelden ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

#voorbeelden ul li {
  position: relative;
  margin-right: 5rem;
}

#voorbeelden ul li img {
  width: auto;
  height: 30rem;
}

#voorbeelden ul li section p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*# sourceMappingURL=style.css.map */